body {
  margin: 0;
  height: 100vh;
  background-image: url(img/aboutbkg.jpg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
/* Bootstrap Navbar changes */
.navbar-toggler {
  margin-right: 15px;
}
.navbar-collapse {
  text-align: center;
}
.media-nav {
  margin: 0 auto;
  padding-right: 50px;
}
.media-nav a {
  color: white;
  padding: 0 5px;
  text-decoration: none;
}
div.media-nav {
  font-size: x-large;
}
.container {
  background-color: rgba(36, 33, 33, 0.705);
}
.aboutparagraph {
}
h1 {
  text-align: center;
}
.food {
  height: 300px;
  width: 300px;
}
.painting {

}
@media only screen and (max-width: 700px) {
  body {
    
  }
  .container {

  }
  .aboutparagraph {

  }
  .painting {

  }
  img {
    height: auto;
    width: 100%;
  }
} 
