body {
  background-image: url("img/citybackground(edit).jpg");

  height: 100vh;
  width: 100%;
  color: white;
}
.navbar-toggler {
  margin-right: 15px;
}
.navbar-collapse {
  text-align: center;
}
.media-nav {
  margin: 0 auto;
  padding-right: 50px;
}
.media-nav a {
  color: white;
  padding: 0 5px;
  text-decoration: none;
}
div.media-nav {
  font-size: x-large;
}
.content {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #061329;
}
.social-media a {
  text-decoration: none;
  padding-right: 10px;
  color: white;
}
