body {
  margin: 0;
  padding: 0;
  background-image: url(img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
/* Bootstrap Navbar changes */
.navbar-toggler {
  margin-right: 15px;
}
.navbar-collapse {
  text-align: center;
}
.media-nav {
  margin: 0 auto;
  padding-right: 50px;
}
.media-nav a {
  color: white;
  padding: 0 5px;
  text-decoration: none;
}
div.media-nav {
  font-size: x-large;
}
.container {
  background-color: rgba(36, 33, 33, 0.705);
}
