body {
  margin: 0;
  padding: 0;
}
/* Bootstrap Navbar changes */
.navbar-toggler {
  margin-right: 15px;
}
.navbar-collapse {
  text-align: center;
}
.media-nav {
  margin: 0 auto;
  padding-right: 50px;
}
.media-nav a {
  color: white;
  padding: 0 5px;
  text-decoration: none;
}
