body {
  margin: 20px;
  background-color: #dfe8e5;
  font-family: "Times New Roman", Times, serif;
  color: #737e7b;
}
.box-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  width: 100%;
  gap: 1em;
}

.banner {
  grid-column: 1 / span 2;
  grid-row-start: 1;
  background-color: #90a6a8;
  max-height: 300px;
  margin-bottom: 75px;
}
.name {
  grid-column-start: 2;
  grid-row-start: 1;
  text-align: center;
  padding-left: 50%;
  padding-top: 55px;
  font-size: 40px;
  color: #c1d3cd;
}
.title {
  grid-column-start: 2;
  grid-row-start: 1;
  text-align: center;
  padding-left: 50%;
  color: #4d5452;
}
img {
  grid-column-start: 1;
  grid-row-start: 1;
  max-height: 300px;
  max-width: 300px;
  margin: auto;
  z-index: 1;
}
h3 {
  color: #4d5452;
  /* text-align: center; */
}
.contact-box {
  grid-column-start: 1;
  grid-row-start: 2;
  text-align: center;
}
.hard-skill-box {
  grid-column-start: 1;
  grid-row-start: 3;
}
.soft-skill-box {
  grid-column-start: 1;
  grid-row-start: 4;
}
.achievement-box {
  grid-column-start: 1;
  grid-row-start: 5;
}
.about-me-box {
  grid-column-start: 2;
  grid-row-start: 2;
}
.experience-box {
  grid-column-start: 2;
  grid-row-start: 3;
}
.education-box {
  grid-column-start: 2;
  grid-row-start: 4;
}

@media only screen and (max-width: 700px) {
  .box-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    width: 100%;
    gap: 1em;
    max-height: fit-content;
  }
  img {
    grid-column-start: 1;
    grid-row-start: 1;
    max-height: 300px;
    max-width: 300px;
    background-color: #90a6a8;
    margin: auto;
  }
  .banner {
    grid-row-start: 2;
    grid-column: 1;
    background-color: #90a6a8;
    height: auto;
    margin: 0;
  }
  .name {
    padding-left: 0;
    padding-top: 0;
  }
  .title {
    padding-left: 0;
  }
  .about-me-box {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .experience-box {
    grid-column-start: 1;
    grid-row-start: 4;
  }
  .education-box {
    grid-column-start: 1;
    grid-row-start: 5;
  }
  .hard-skill-box {
    grid-column-start: 1;
    grid-row-start: 6;
  }
  .soft-skill-box {
    grid-column-start: 1;
    grid-row-start: 7;
  }
  .achievement-box {
    grid-column-start: 1;
    grid-row-start: 8;
  }
  .contact-box {
    grid-column-start: 1;
    grid-row-start: 9;
  }
  h3 {
    text-align: center;
  }
}
