.box-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  width: 100%;
}

.banner {
  grid-column-start: 2;
  grid-row-start: 1;
  background-color: #90a6a8;
  max-height: 200px;
}
.name {
  grid-column-start: 2;
  grid-row-start: 1;
  text-align: center;
}
img {
  grid-column-start: 1;
  grid-row-start: 1;
  max-height: 300px;
  max-width: 300px;
  background-color: #90a6a8;
}
/* .left-section {
    grid-row-start: 2;
}
.right-section {
    grid-column-start: 2;
    grid-row-start: 2;
    height: 100vh;
} */
.contact-box {
  grid-column-start: 1;
  grid-row-start: 2;
}
.hard-skill-box {
  grid-column-start: 1;
  grid-row-start: 3;
}
.soft-skill-box {
  grid-column-start: 1;
  grid-row-start: 4;
}
.achievement-box {
  grid-column-start: 1;
  grid-row-start: 5;
}
.about-me-box {
  grid-column-start: 2;
  grid-row-start: 2;
}
.experience-box {
  grid-column-start: 2;
  grid-row-start: 3;
}
.education-box {
  grid-column-start: 2;
  grid-row-start: 5;
}

@media only screen and (max-width: 576px) {
  .box-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 100%;
  }
  .about-me-box {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .experience-box {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .education-box {
    grid-column-start: 1;
    grid-row-start: 5;
  }
}
