body {
  margin: 0;
  background-color: #292b2c;
  font-family: "Times New Roman", Times, serif;
  color: white;
  height: 100vh;
  width: 100%;
}
/* Bootstrap Navbar changes */
.navbar-toggler {
  margin-right: 15px;
}
.navbar-collapse {
  text-align: center;
}
.media-nav {
  margin: 0 auto;
  padding-right: 50px;
}
.media-nav a {
  color: white;
  padding: 0 5px;
  text-decoration: none;
}
div.media-nav {
  font-size: x-large;
}
.banner {
  background-color: #90a6a8;
  max-height: 300px;
}
.name {
  text-align: center;
  padding-top: 55px;
  font-size: 40px;
  color: #c1d3cd;
}
.title {
  text-align: center;
  color: #4d5452;
  text-decoration: none;
}
.pfp {
  max-height: 300px;
  max-width: 300px;
  padding: 15px;
  margin-top: -9em;
}
h2 {
  text-align: center;
  padding: 25px;
  text-decoration: underline;
}
.education {
  margin-top: -8em;
  text-align: center;
}
.skills {
  display: flex;
  justify-content: space-evenly;
}
.experience {
  padding-bottom: 30px;
}
@media only screen and (max-width: 1200px) {
  .education {
    margin-top: 0;
  }
}
@media only screen and (max-width: 850px) {
  .pfp {
    max-height: auto;
    max-width: 100%;
    margin-top: 0em;
  }
  .pfpContainer {
    display: grid;
    justify-content: center;
  }
  .skills {
    flex-direction: column;
    margin: 0 25%;
  }
  h3 {
    text-align: center;
    padding-bottom: 15px;
  }
}
