body {
  margin: 0;
  background-color: black;
}
/* Bootstrap Navbar changes */
.navbar-toggler {
  margin-right: 15px;
}
.navbar-collapse {
  text-align: center;
}
/* parallax style */
.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
  padding-top: 500px;
}
section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 100px;
}
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background,
.midground,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.background {
  transform: translateZ(-100px) scale(2);
  opacity: 0.3;
}
.midground {
  opacity: 0.5;
  transform: translateZ(-50px) scale(1.5);
}
.foreground {
  transform: translateZ(-25px) scale(1);
}
img.foreground {
  height: 550px;
  width: 500px;
}
.typing-content {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  img.foreground {
    height: auto;
    width: 100%;
  }
  .title {
    font-size: 3rem;
    padding-top: 200px;
  }
}
